<html>
    <head>
    <title>
        <%=  title%>
    </title>
    </head>
    <body>
        <h1>PlayGround</h1>
        <ul>
        <% for(let i=1;i <=8 ;i++){ %>
        <li>
            <%= i %>
        </li>
       <% } %>
    </ul>

    <% if(true){%>
     <h1>Yooo</h1>
    <% }else { %>
     <h1>Nooo</h1>
    <%}%>
    </body>
</html>